/* Write your CSS here */
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: antiquewhite;
}
.app-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 650px;
  width: 100%;
  background-color: #b8afaf;
  border-radius: 15px;
  padding: 25px;
  height: 700px;
margin: 15px;  
  
}
.title {
  font-size: 32px;
  font-family: 'open sans';
  text-align: center;
}
.input {
  border-width: 0px;
  background-color: #f1f5f9;
  cursor: pointer;
  outline: none;
}
.search-icon {
  height: 30px;
}
.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f5f9;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}
.cards-container {
  display: flex;  
    
  
  
}
